@model FormularioNOW.Models.NOW
@{
    ViewBag.Title = "EngenhariaNOW";
}

 <div class="container">
    <h2>EngenhariaNOW</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Projeto: @Model.Nome</h3>
            <h4>Descrição: @Model.Descricao</h4>
        </div>
    </div>
</div>

@using (@Html.BeginForm())
{
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <h3>Perguntas especificas para Engenharia</h3>
                    @Html.TextAreaFor(a => a.Engenharia, new { @class = "form-control", placeholder = "Engenharia" })
                </div>
                <div class="form-group">
                    <h3>Precisa de maquina nova?</h3>
                    @Html.CheckBoxFor(a=>a.NecessitaNovaMaquina)
                    @Html.TextAreaFor(a => a.DescricaoMaquina, new { @class = "form-control", placeholder = "Descrição Maquina" })
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>

        </div>
        
    </div>
    
}