@model FormularioNOW.Models.NOW
@{
    ViewBag.Title = "ComprasNOW";
}




<div class="container">
    <h2>ComprasNOW</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Projeto: @Model.Nome</h3>
            <h4>Descrição: @Model.Descricao</h4>
        </div>
    </div>

    <h2>Engenharia</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>@Model.Engenharia</p>
        </div>
    </div>

    <h2>TI</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>@Model.TI</p>
        </div>
    </div>
</div>

@using (@Html.BeginForm())
{
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <h3>Custo Com Amostra</h3>
                    @Html.TextBoxFor(a => a.CustoComAmostra, new { @class = "form-control", placeholder = "Custo Com Amostra" })
                </div>
                <div class="form-group">
                    <h3>Frete pago pela GD</h3>
                    @Html.TextBoxFor(a => a.FreteGD, new { @class = "form-control", placeholder = "Frete GD" })
                </div>

                <div class="form-group">
                    <h3>UF De Destino</h3>
                    @Html.TextBoxFor(a => a.UFDestino, new { @class = "form-control", placeholder = "UF De Destino" })
                </div>
                <div class="form-group">
                    <h3>Cep de Destino</h3>
                    @Html.TextBoxFor(a => a.CepDestino, new { @class = "form-control", placeholder = "Cep de Destino" })
                </div>
                <div class="form-group">
                    <h3>Frete Com Segurança</h3>
                    @Html.TextBoxFor(a => a.FreteSeguranca, new { @class = "form-control", placeholder = "Frete Com Segurança" })
                </div>
                <div class="form-group">
                    <h3>Outrar informações</h3>
                    @Html.TextAreaFor(a => a.Compras, new { @class = "form-control", placeholder = "Outras Informações" })
                </div>
                <hr />
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>

        </div>

    </div>

}