@model FormularioNOW.Models.NOW
@{
    ViewBag.Title = "DetalhesNOW";
}

<div class="container">
    <h2>DetalhesNOW</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Projeto: @Model.Nome</h3>
            <h4>Descrição: @Model.Descricao</h4>
        </div>
    </div>
</div>

<div class="container">
    <h2>Engenharia</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Engenharia_status)
            {
                <h3>Geral</h3>
                <p>@Model.Engenharia</p>
                <hr />
                <h3>Maquinas</h3>
                if (Model.NecessitaNovaMaquina)
                {
                    <p>precisa de maquina nova? SIM </p>
                    <p>Descrição : @Model.DescricaoMaquina</p>
                }
                else
                {
                    <p>precisa de maquina nova? NÃO</p>
                }
            }
            else
            {
                <p><i class="fa fa-times" aria-hidden="true"></i> Perguntas ainda não respondidas</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <h2>Compras</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Compras_status)
            {
                if (Model.Compras == "")
                {
                    <p>@Model.Compras</p>
                }
                else
                {
                    <p><i class="fa fa-times" aria-hidden="true"></i> Setor não necessario</p>
                }
            }
            else
            {
                <p> <i class="fa fa-times" aria-hidden="true"></i> Perguntas ainda não respondidas</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <h2>Qualidade</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Qualidade_status)
            {
                if (Model.Qualidade == "")
                {
                    <p>@Model.Qualidade</p>
                }
                else
                {
                    <p><i class="fa fa-times" aria-hidden="true"></i> Setor não necessario</p>
                }
            }
            else
            {
                <p> <i class="fa fa-times" aria-hidden="true"></i> Perguntas ainda não respondidas</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <h2>TI</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.TI_status)
            {

                if (Model.TI == "")
                {
                    <p>@Model.TI</p>
                }
                else
                {
                    <p><i class="fa fa-times" aria-hidden="true"></i> Setor não necessario</p>
                }
            }
            else
            {
                <p> <i class="fa fa-times" aria-hidden="true"></i> Perguntas ainda não respondidas</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <h2>Produto</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Produto_status)
            {
                if (Model.Produto == "")
                {
                    <p>@Model.Produto</p>
                }
                else
                {
                    <p><i class="fa fa-times" aria-hidden="true"></i> Setor não necessario</p>
                }
            }
            else
            {
                <p> <i class="fa fa-times" aria-hidden="true"></i> Perguntas ainda não respondidas</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <h2>Prod Soft</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.ProdSoft_status)
            {
                if (Model.ProdSoft == "")
                {
                    <p>@Model.ProdSoft</p>
                }
                else
                {
                    <p><i class="fa fa-times" aria-hidden="true"></i> Setor não necessario</p>
                }
            }
            else
            {
                <p> <i class="fa fa-times" aria-hidden="true"></i> Perguntas ainda não respondidas</p>
            }
        </div>
    </div>
</div>

<div class="container">
    <h2>Financeiro</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Financeiro_status)
            {
                if (Model.Financeiro == "")
                {
                    <p>@Model.Financeiro</p>
                }
                else
                {
                    <p><i class="fa fa-times" aria-hidden="true"></i> Setor não necessario</p>
                }
            }
            else
            {
                <p> <i class="fa fa-times" aria-hidden="true"></i> Perguntas ainda não respondidas</p>
            }
        </div>
    </div>
</div>
